*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    background-color: transparent;
    margin: 10px;
}
.home{
    width: 90%;
    margin:0 auto;
    max-width: 1000px;
    position: relative;
    top: 50px;
}
.home .post{
    padding: 10px 0;
    margin: 25px 0px;
}
.home .post .post-header::after{
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.home .post .post-header .post-title{
    margin: 10px 0px 10px;
    line-height: 1.2;
    font-size: 1.4em;
    font-weight: 800;
    font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
    float: left;
    box-shadow: -11px 8px 2px 0 #84a9ac;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
}
.home .post .post-header .post-title:hover{
    background: #eee;
    transform: translateX(-7px);
}
.home .post .post-header .post-time{
    color: #204051;
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    float: right;
}
.home .pagination {
    padding-top: 1em;
    padding-bottom: 1.2em;
}
.home .pagination::before,.pagination::after{
    content: "";
    display: table;
}
.home .pagination::after{
    clear: both;
}
.home .pagination .prev{
    float: left;
}
.home .pagination .next{
    float: right;
}
.home .pagination .prev,.home .pagination .next{
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}
.home .pagination .prev:hover{
    color: rgba(144, 208, 238, 0.548);
    transform: translateX(-7px);
}
.home .pagination .next:hover{
    color: rgba(144, 208, 238, 0.548);
    transform: translateX(7px);
}
.home .pagination .prev .iconfont{
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke-width: 0.2px;
    cursor: pointer;
}
.home .pagination .prev .icon-left::before{
    content: "\e605";
}
.home .pagination .next .icon-left::before{
    content: "\e605";
}