:root{
  --theme-dark: #204051;
  --theme-med:#3b6978;
  --theme-blue:#32afd3;
  --theme-light:#84a9ac;
  --theme-mild:#cae8d5;
}
html {
    font-size: 15px;
    
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    
   
  }
  #login-body{
    background-image: url('../assets/fzubg2.jpg');
    background-size: contain;
    background-attachment: fixed;
    margin: 0 auto;
    font-family: Helvetica;
  }
  #login-main{
      background-color: rgba(255,255,255,0.8);
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      
      width: 60vw;
      
  }
  .title{
      
      text-align: center;
      margin: 0 auto;
      color: #3b6978;
  }
  .title h1{
      
      font-size: 2.5rem;
  }
  .row {
    width: 400px;
    margin: .6rem 0;
    position: relative;
  }
  
  .row input {
    font-size: 1rem;
    border: 1px solid var(--theme-blue);
    border-radius: 4px;
    margin: 0;
    padding: .8rem 1rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
    width: 100%;
    box-sizing: border-box;
    color: #2e3131;
    outline: none;
    transition: all ease-in-out .2s;
  }
  
  .row label {
    position: absolute;
    left: 1rem;
    top: .8rem;
    color: #aaa;
    transition: all ease-in-out .2s;
    cursor: text;
  }
  
  h2 {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
  }
  
  .row input:focus {
    border: 3px solid #32afd3;
  }
  
  .row input:focus + label {
    transform: translateX(calc(-100% - 2.5rem));
    color: #2e3131;
  }
  
  input:not(:focus):not(:placeholder-shown) + label {
    color: rgba(0, 0, 0, 0);
  }
  
  .row button {
    background: none;
    border: none;
    position: absolute;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    right: calc(.5rem + 1px);
    margin: 0;
    padding: 0;
    outline: none;
    display: none;
  }
  
  .row input[type="password"]:not(:placeholder-shown) ~ button {
    display: inline-block;
  }
  .footer{
      position: fixed;
      bottom: 0;
      height: 7vh;
      width: 100vw;
      text-align: center;
      color: #3b6978;
     
  }
  .footer p{
    position: relative;
  }